#top {
  height: 150px;
  background-color: black;
}
.contenedor{
  width: 978px;
  margin: 0 auto;
}
#logo{
  background-image: url(C:\Users\Gaella Govea\azureclass\logo_muz2020.png)
  width: 458px;
  height: 104px;
}